<div class="container">
    <div class="row">
        <div class="col s6 offset-s3">
            <h5 style="text-align: center; margin-top: 30px; margin-bottom: 0px">Choose category</h5>
            <% @categories.each do |c| %>
                <%= link_to(category_pick_path(c.id)) do %>
                    <div class="card-panel grey lighten-5 hoverable" style="margin-top: 60px; padding-bottom: 10px">
                        <div class="row valign-wrapper">
                            <div class="col s2">
                                <img src="https://d.wpimg.pl/671675960--1630771153/shih-tzu.jpg" alt="" class="circle responsive-img" style="width: auto; height: auto">
                            </div>
                            <div class="col s10">
                                <span class="black-text">
                                    <p style="text-align: center"><%= c.name %></p>
                                </span>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>