<div class="carousel carousel-slider center" style="height: 800px">
    <div class="carousel-fixed-item center">
        <%= link_to "Download", asset_path("pdf.pdf"), class: "btn amber", target: '_blank' %>
    </div>
    <a class="carousel-item" href="#one!"><%= image_tag("pdf3.png", style: "height: 100%; width: auto") %></a>
    <a class="carousel-item" href="#three!"><%= image_tag("pdf1.png", style: "height: 100%; width: auto") %></a>
    <a class="carousel-item" href="#two!"><%= image_tag("pdf2.png", style: "height: 100%; width: auto") %></a>
</div>
